@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Overpass, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121417;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1.1;
}

button {
  border-radius: 35px;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #FB7413;;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #FFFFFF;
  color: #FB7413;
} 